body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

#loading { 
    padding-right:45px;
    background-image:url("/static/images/loader.gif");
    background-position: right;
    background-repeat: no-repeat;
}

/* general stuff */

strong {
    font-weight:bold;
}

em {
    
}

/* structure */

.coat {
    max-width:1000px;
    margin:0 auto;
}

#header {
    border-bottom:1px solid #aaa;
    padding:10px 0 2px 0;
    background:linear-gradient(#FAFAFA,#EAEAEA);
    background:-webkit-linear-gradient(#FAFAFA,#EAEAEA);
    background:-o-linear-gradient(#FAFAFA,#EAEAEA);
}

#header h1 {
    font-size: 26px;
    color: #555;
    font-weight:bold;
}

#header ul {
    float:right;
    margin-top:6px;
}

#header ul li {
    float:left;
    margin-left:5px;
}

#header ul li a,
#header ul li a:visited {
    display:block;
    text-decoration: none;
    padding:4px 10px;
    color:#333;
    font-family:Helvetica, arial;
    font-size:13px;
    font-weight:bold;
    border:1px solid transparent;
}

#header ul li a:hover, 
#header ul li a.active,
#header ul li a:active,
#header ul li a.aktiv {
    background: #fff;
    color:#4183C4;
    border:1px solid #aaa;
    border-bottom:1px solid #fff;
}

#footer {
    border-top:1px solid #aaa;
    font-size: 11px;
    font-family:arial;
    color: #666;
    text-align:right;
    padding-bottom:30px;
    margin-bottom:70px;
    
    background:linear-gradient(#EAEAEA,#ffffff);
    background:-webkit-linear-gradient(#EAEAEA,#ffffff);
    background:-o-linear-gradient(#EAEAEA,#ffffff);
}

#content {
    padding:30px 5px;
}

#content iframe {
    width:100%;
    height:600px;
    margin: 0 auto;
}


.message {
    border:1px solid;
    padding:5px;
    margin-bottom:5px;
}

.message h1 {
    font-size:12px;
    font-weight:bold;
}

.message.error {
    border-color:#FF0000;
    background-color:#FFCCCC;
    color: #660000;
}

.message.warning {
    border-color:#FF6600;
    background-color:#FFCC99;
    color: #993300;
}

.message.info {
    border-color:#0000FF;
    background-color:#CCCCFF;
    color: #000066;
}

.message.success {
    border-color:#00FF00;
    background-color:#CCFFCC;
    color: #006600;
}

.half, .thirds {
    margin-bottom:20px;
}

.half .left {
    width:49%;
    float:left;
}

.half .right {
    width:49%;
    float:right;
}

.thirds .left {
    width:32%;
    float:left;
}

.thirds .right {
    width:32%;
    float:right;
}

.thirds .middle {
    width:32%;
    margin:0 auto;
}

/* the table style */
#content h2 {
    color:#333;
    font-weight:bold;
    font-size:17px;
    margin-bottom:3px;
    font-family:Helvetica, arial;
}

#content .description {
    padding:5px;
    font-size:12px;
    font-family:Arial;

}

.blockwrapper {
    padding:3px;
    background:#eee;
    border-radius:3px;
    margin-bottom:20px;   
}

table.t {
    width:100%;
    border:1px solid #cacaca;
    border-radius:3px;
    padding:3px; 
}
.blockwrapper .titlerow,
.t thead tr th {
    text-align:left;
    font-weight:bold;
    color:#555;
    padding:6px 3px;
    background:linear-gradient(#FAFAFA,#EAEAEA);
    background: -webkit-linear-gradient(#FAFAFA,#EAEAEA);
    background:-o-linear-gradient(#FAFAFA,#EAEAEA);
    text-shadow:0 1px 0 white;
}

.blockwrapper .titlerow {
    border:1px solid #D8D8D8;
    border-bottom:0;
}

.t tbody tr td {
    color:#646464;
    background:#F8F8F8;
    border-top:1px solid #D8D8D8;
}

.t tbody tr td.titletd {
    font-weight:bold;
}

.t thead tr th.buttons,
.t tbody tr td.buttons {
    text-align:right;
}

.t tbody tr td.order a {
    text-decoration:none;
}

.t tbody tr td.inner {
    padding:5px 50px;
    border-top:0;
}

.t thead tr th,
.t tbody tr td {
    padding:7px 3px;
    font-size:12px;
    font-family:Arial;
}

.t tbody tr:hover td {
    background:#fff;
}

table.ti {
    width:100%;
}

table.ti thead tr th {
    background:transparent;
    border-bottom:2px solid #000;
}

td.terminchoice,
td.choices {
    text-align:center;
    font-weight:bold;
}

td.terminchoice a {
    text-decoration:none;
}

.t tbody tr td.terminchoice.yes,
.t tbody tr td.choice1 {
    background:#D9FAD7;
}

.t tbody tr td.terminchoice.no,
.t tbody tr td.choice-1 {
    background: #FFCCCA;
}

.t tbody tr td.terminchoice.vllt,
.t tbody tr td.choice0 {
    background:#FFEDA1;
}

/*  ---- eintippen --- */

.bogen {
    background:#f8f8f8;
    border:1px solid #D8D8D8;
    padding:10px;
    color:#646464;
    font-size:12px;
    font-family:verdana;
}

#content .bogen h2 {
    clear:both;
    text-align:center;
    font-size:14px;
    font-weight:bold;
    color:#333;
    margin:10px 0 5px 0;
}

.frage {
    width:50%;
    float:left;
}

.frage.thirds {
    width:33.3%;
}

.frage .inner {
    margin:5px;
    background:#fff;
    padding:5px;
    border-radius:3px;
    border:1px solid #eaeaea;
    overflow:hidden;
}

.frage.active .inner {
    background:#FFE9E8;
}

.frage .inner .options {
    float:right;
    
}

.frage .inner .options li {
    text-align:right;
}

.frage .inner .options.long {
    float:right;
    text-align:right;
    width:80%;
}

.frage .inner .options.long input {
    width:90%;
}

.textfrage {
    width:100%;
}

.textfrage textarea {
    width:99%;
    border:1px solid #ccc;
    height:68px;
    line-height:18px;
    background:#333;
    color:#eee;
    font-family: Verdana;
    margin-top:5px;
}

.textfrage textarea.long {
    height:500px;
}

.frage .textinput {
    border:1px solid #ccc;
    line-height:18px;
    background:#333;
    color:#eee;
    font-family: Verdana;
}

.rightbutton {
    float:right;
    border:1px solid #eaeaea;
    border-radius:3px;
    background:#4D90FE;
    font-family:arial,helvetica,sans-serif;
    font-size:12px;
    font-weight:bold;
    padding:5px 8px;
    color:#fff;
    cursor:pointer;
}

.rightbutton:hover{
    background:#5DA0FF;
}

/* ---- random styles */

.center {
    text-align:center;
}

.tpl {
    display:none
}

.clear {
    clear:both;
}

/* --- the not so ... fancy buttons -- */
a.button,
td.terminchoice a {
    text-decoration:none;
    color:#4183C4;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding-left:10px;
}

a.button:hover,
td.terminchoice a:hover {
    text-decoration:underline;
}


/* ******* Messages ************ */
.messages {
    margin:10px;
}

.messages li {
    border:1px solid #aaa;
    background: #eee;
    padding:2px;
    font-size:11px;
    font-family:verdana;
}

.messages li.success {
    background:#D9FAD7;
    border-color:#64FA5C;
}

.messages li.warning {
    background:#D9FAD7;
    border-color:#64FA5C;
}

.messages li.error {
    background:#D9FAD7;
    border-color:#64FA5C;
}

.messages li.info {
    background:#D9FAD7;
    border-color:#64FA5C;
}